// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        control {
            if-layers = <2 3>;
            then-layer = <4>;
        };
    };

    combos {
        compatible = "zmk,combos";

        ru-en {
            bindings = <&lang_switch>;
            key-positions = <10 20>;
            layers = <0 1>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <0 10>;
            layers = <0 1>;
        };
    
        zmkopt_0 {
            bindings = <&kp W>;
            key-positions = <1 11>;
            layers = <1>;
        };

        zmkopt_1 {
            bindings = <&kp O>;
            key-positions = <2 12>;
            layers = <1>;
        };

        zmkopt_2 {
            bindings = <&kp RBKT>;
            key-positions = <17 27>;
            layers = <1>;
        };

        zmkopt_3 {
            bindings = <&kp Q>;
            key-positions = <1 11>;
            layers = <0>;
        };

        zmkopt_4 {
            bindings = <&kp J>;
            key-positions = <3 13>;
            layers = <0>;
        };

        zmkopt_5 {
            bindings = <&kp SEMI>;
            key-positions = <5 15>;
            layers = <0>;
        };

        zmkopt_6 {
            bindings = <&kp EQUAL>;
            key-positions = <6 16>;
            layers = <0 1>;
        };

        zmkopt_7 {
            bindings = <&kp PIPE>;
            key-positions = <7 17>;
            layers = <0>;
        };

        zmkopt_8 {
            bindings = <&kp BSLH>;
            key-positions = <8 18>;
            layers = <0>;
        };

        zmkopt_9 {
            bindings = <&kp HASH>;
            key-positions = <9 19>;
            layers = <0>;
        };

        zmkopt_10 {
            bindings = <&kp CARET>;
            key-positions = <15 25>;
            layers = <0>;
        };

        zmkopt_11 {
            bindings = <&kp AMPS>;
            key-positions = <16 26>;
            layers = <0>;
        };

        zmkopt_12 {
            bindings = <&kp AT>;
            key-positions = <17 27>;
            layers = <0>;
        };
};

    macros {
        lang_switch: lang_switch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE) &tog 1>;
            label = "LANG_SWITCH";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        EN {
            bindings = <
&kp W        &kp B        &kp G         &kp L         &kp M        &kp DOT          &kp LEFT_PARENTHESIS          &kp RIGHT_PARENTHESIS        &kp COMMA        &kp X
&hrm LGUI R  &hrm LALT N  &hrm LCTRL S  &hrm LSHFT T  &kp D        &kp U          &hrm RSHFT A  &hrm RCTRL E  &hrm RALT I  &hrm RGUI H
&kp Z        &kp P        &kp C         &kp V         &kp K        &kp MINUS          &kp FSLH         &kp O     &kp Y      &kp F
                                        &lt 2 ESC     &kp SPACE    &kp BACKSPACE  &lt 3 ENTER
            >;
        };

        RU {
            bindings = <
&ht GRAVE P  &kp COMMA        &kp L         &kp H          &kp U     &kp DOT   &kp E         &kp F         &kp G        &ht P M
&hrm LGUI C  &hrm LALT N  &hrm LCTRL R  &hrm LSHIFT Y  &kp V     &kp Q   &hrm RSHFT T  &hrm RCTRL J  &hrm RALT D  &hrm RGUI B
&kp I        &kp LEFT_BRACKET        &kp X         &kp K          &kp SEMI     &kp GRAVE   &kp Z         &kp S     &kp A      &ht RIGHT_BRACKET SQT
                                        &trans         &trans    &trans  &trans
            >;
        };

        SYM {
            bindings = <
&none        &none      &kp LBRC              &kp RBRC               &none             &kp DOT       &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp COMMA     &kp DOLLAR
&hrm LGUI LBKT  &hrm LALT RBKT  &hrm LCTRL PERCENT  &hrm LSHFT DOUBLE_QUOTES  &kp GRAVE    &kp COLON       &hrm RSHFT LS(UNDERSCORE)  &hrm RCTRL STAR  &hrm RALT QUESTION  &hrm RGUI SQT
&kp SEMI      &none  &kp EXCLAMATION         &kp TILDE       &kp DOT            &kp MINUS  &kp FSLH   &kp PLUS  &kp LESS_THAN     &kp GREATER_THAN
                                                   &trans                 &trans               &trans         &trans
            >;
        };

        NAV {
            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &trans    &kp PG_UP  &kp HOME  &kp UP    &kp END    &kp DEL
&trans  &kp N4  &kp N5  &kp N6  &trans    &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp BSPC
&trans  &kp N7  &kp N8  &kp N9  &trans    &trans     &trans    &trans    &trans     &trans
                        &trans  &kp N0    &trans     &trans
            >;
        };

        CONTROL {
            bindings = <
&sys_reset      &trans  &trans  &trans  &trans    &trans  &trans  &trans  &sys_reset      &bt BT_NXT
&bootloader     &trans  &trans  &trans  &trans    &trans  &trans  &trans  &bootloader     &bt BT_PRV
&studio_unlock  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &studio_unlock  &bt BT_CLR_ALL
                                &trans  &trans    &trans  &trans
            >;
        };
    };
};
