// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        ru-en {
            bindings = <&tog 1>;
            key-positions = <14 15>;
            layers = <0 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        EN {
            bindings = <
&ht TAB Q    &kp W        &kp F         &kp P         &kp B        &kp Y        &kp L          &kp U         &kp Y        &kp SEMICOLON
&hrm LGUI A  &hrm LALT R  &hrm LCTRL S  &hrm LSHFT T  &kp G        &kp M        &hrm RSHFT N   &hrm RCTRL E  &hrm RALT I  &hrm RGUI O
&kp Z        &kp X        &kp C         &kp D         &kp V        &kp K        &kp H          &kp COMMA     &kp DOT      &kp FSLH
                                        &lt 2 ESC     &kp SPACE    &lt 3 ENTER  &kp BACKSPACE
            >;
        };

        RU {
            bindings = <
&ht GRAVE Q  &kp W  &kp E  &kp R   &kp T     &kp Y   &kp U   &kp I      &kp O    &ht P LEFT_BRACKET
&kp A        &kp S  &kp D  &kp F   &kp G     &kp H   &kp J   &kp K      &kp L    &kp SEMI
&kp Z        &kp X  &kp C  &kp V   &kp B     &kp N   &kp M   &kp COMMA  &kp DOT  &ht RIGHT_BRACKET SQT
                           &trans  &trans    &trans  &trans
            >;
        };

        SYM {
            bindings = <
&kp TILDE        &kp AT      &kp LBRC              &kp RBRC               &kp PIPE             &kp BSLH       &kp LBKT   &kp RBKT   &kp CARET     &kp LS(UNDERSCORE)
&kp EXCLAMATION  &kp HASH    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DOUBLE_QUOTES    &kp PLUS       &kp MINUS  &kp STAR   &kp FSLH      &kp EQUAL
&kp PERCENT      &kp DOLLAR  &kp LESS_THAN         &kp GREATER_THAN       &kp GRAVE            &kp AMPERSAND  &kp SEMI   &kp COLON  &kp QUESTION  &kp DOT
                                                   &trans                 &trans               &trans         &trans
            >;
        };

        NAV {
            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &trans    &kp PG_UP  &kp HOME  &kp UP    &kp END    &kp DEL
&trans  &kp N4  &kp N5  &kp N6  &trans    &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp BSPC
&trans  &kp N7  &kp N8  &kp N9  &trans    &trans     &trans    &trans    &trans     &trans
                        &trans  &kp N0    &trans     &trans
            >;
        };
    };
};
